a.ssilka {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #ffffff;
	padding: 16px 26px;
	
	display: inline-block;
	text-decoration: none;
}
a.ssilka:hover {
    background: #fdd657;
    color:black;
    width: 130%;
}
a:active {
	
	
}
 